.iphone {
    border: 1px solid black;
    padding: 20px;
    margin: 10px;
    width: 1200px;
    text-align: center;
}

h2 {
    text-align: left;
}

.product {
    border: 1px solid brown;
    margin: 10px;
    width: 25%;
    display: inline-block;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
}

.iphone9 {
    width: 50%;
    height: auto;
    display: block;
    margin: auto;
}

.price {
    color: green;
    font-size: 20px;
    margin-right: 10px;
}

.old-price {
    color: red;
    font-weight: bold;
    font-size: 15px;
    text-decoration: line-through;
}

.button-container {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-top: 15px;
}

.add-to-cart,
.favorite {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.add-to-cart i,
.favorite i {
    margin-right: 5px;
}

.favorite {
    width: 40px;
    justify-content: center;
    padding: 10px;
}

.add-to-cart:hover,
.favorite:hover {
    background-color: #0056b3;
}

.fa-brands {
    color: blue;
}
